@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

:root {
  --bg: #f5f5f5;
  --text: #121212;
}

.dark {
  --bg: #121212;
  --text: #f5f5f5;
}

body {
  background: var(--bg);
  color: var(--text);
}

.darkShadow {
  box-shadow: 0 0 5px #161614;
}

.blur {
  background-image: url(../assets/images/divesea.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.skillsShadow {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}
